.header {
  display: flex;
  height: 34vw;
  background: url('./../../assets/background.jpg') no-repeat center center;
  background-size: cover;
  padding: 20px;
  text-align: center;
  position: relative;
  flex-direction: column;
}

.header-contents {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5vw;
  max-width: 60%; 
  position: absolute;
  bottom: 15%;
  left: 5%; 
  animation: fadeIn 3s;
}

.header h2 {
  font-size: max(3vw, 22px); 
  color: #fff;
}

.header p {
  font-size: max(1.3vw, 16px); /* Responsive font size */
  margin-bottom: 20px;
  color: #d0d7e1;
  line-height: 1.5;
}

.buy {
  display: flex;
  flex-direction: column; /* Stack buttons vertically on smaller screens */
  align-items: flex-start; /* Align buttons to the left */
  gap: 10px;
  margin-top: 20px;
}

.buy button {
  background-color: #c7cdd6;
  color: #072d44;
  font-weight: bold;
  font-size: max(1.2vw, 16px); /* Responsive font size */
  padding: 15px 25px;
  outline: none;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.buy button:hover {
  background-color: #a2a6ad;
}

@media (max-width: 768px) {
  .header {
    height: 50vw; 
    padding: 15px;
  }

  .header-contents {
    max-width: 80%;
    bottom: 10%;
    left: 10%; 
  }

  .header p {
    display: none; 
  }

  .buy {
    flex-direction: column;
    align-items: flex-start; 
  }
}

@media (max-width: 480px) {
  .header {
    height: 60vw; 
    padding: 10px;
  }

  .header h2 {
    font-size: 24px; 
  }

  .buy button {
    font-size: 14px; 
    padding: 10px 20px;
  }
}
